<li *ngIf="singlePokemon">
  <div class="pokemonContainer">
    <img
      [src]="singlePokemon.image"
      class="pokemonImg"
      [alt]="singlePokemon.name"
    />
    <p class="pokemonName">{{ singlePokemon.name }}</p>
    <p class="pokemonCaught" *ngIf="hasBeenCaught && isCatalogueRoute()">
      Caught
    </p>
    <button
      *ngIf="!hasBeenCaught && isCatalogueRoute()"
      class="pokemonCatch"
      (click)="onCatchClick()"
    >
      Catch
    </button>
    <button
      class="pokemonRelease"
      *ngIf="!isCatalogueRoute()"
      (click)="onReleaseClick()"
    >
      Release
    </button>
  </div>
</li>
