/* Pokémon container */
.pokemonContainer {
  height: 100px;
  width: 90%;
  margin-top: 50px;
  margin-left: 5%;
  filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
  background-color: white;
  display: flex;
  font-size: 50px;
  border-radius: 20px;
}

.pokemonContainer p {
  margin-top: 10px;
}

.pokemonImg {
  height: 90px;
  margin-top: 5px;
  margin-left: 10px;
}

.pokemonName {
  margin: 0 50px;
  width: 70%;
}

.pokemonCaught {
  height: 80%;
  padding: 0 10px;
  font-weight: bolder;
  color: green;
  width: 200px;
}

.pokemonCatch {
  font-size: 50px;
  font-weight: bolder;
  height: 80%;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: white;
  color: rgb(255, 174, 0);
  width: 200px;
}

.pokemonCatch:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgb(0, 89, 255));
}

.pokemonRelease {
  font-size: 50px;
  font-weight: bolder;
  height: 80%;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: white;
  color: rgb(255, 174, 0);
  width: 200px;
}

.pokemonRelease:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgb(0, 89, 255));
}
