.background {
  background-color: rgb(113, 159, 211);
  height: 300px;
  width: 100%;
  margin-bottom: -200px;
}

.loginPageContent {
  background-color: rgb(113, 159, 211);
  display: flex;
  padding: 50px 10% 200px 10%;
  margin-bottom: -200px;
}

.loginLogo {
  height: 400px;
}

.loginPageText {
  font-size: 40px;
  margin-left: 20px;
}
