.background {
    background-color: rgb(113, 159, 211);
    height: 300px;
    width: 100%;
    margin-bottom: -200px;
}

.loginPageContent {
    background-color: rgb(113, 159, 211);
    display: flex;
    padding: 50px 10% 200px 10%;
    margin-bottom: -200px;
}

.loginLogo {
    height: 400px;
}

.loginPageText {
    font-size: 40px;
    margin-left: 20px;
}

.inputContainer {
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    padding-top: 50px;
    min-height: 120px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border-bottom: solid 20px rgb(255, 174, 0);
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
  }
  
  .input {
    border: solid 3px rgb(255, 174, 0);
    width: 80%;
    margin-left: 10%;
    height: 64px;
    border-radius: 40px;
    padding-right: 5px;
}
  
.inputField {
    font-size: 50px;
    margin-left: 10%;
    margin-top: 2px;
    width: 80%;
    border: none;
}
  
.inputButton {
    width: 60px;
    margin-top: 2px;
    float: right;
}
  
.inputButton:hover {
    filter: drop-shadow(0px 0px 5px rgb(0, 89, 255));
    cursor: pointer;
}