<header class="headerContainer">

    <div routerLink="/catalogue" class="headerName">
        <img src="/assets/images/projectLogo.png" class="headerLogo" alt="Logo" />
        <p>Pokémon</p>
    </div>

    <div class="headerUserContainer">
        <div routerLink="/trainer" class="headerUserAccount">
            <p class="accountName">username</p>
            <img src="/assets/images/userLogo.png" class="accountLogo" alt="Image" />
        </div>
        <button routerLink="/" class="logOutButton">Log out</button>
    </div>

</header> 

<router-outlet></router-outlet>