<header class="headerContainer">
  <div routerLink="/catalogue" class="headerName">
    <img src="/assets/images/projectLogo.png" class="headerLogo" alt="Logo" />
    <p>Pokémon</p>
  </div>

  <div class="headerUserContainer" *ngIf="isTrainerLoggedIn">
    <div routerLink="/trainer" class="headerUserAccount">
      <p class="accountName">{{ currentTrainer?.username }}</p>
      <img src="/assets/images/userLogo.png" class="accountLogo" alt="Image" />
    </div>
    <button (click)="handleLogout()" class="logOutButton">Log out</button>
  </div>
</header>
