<div class="background"></div>

<div class="inputContainer">
    <h1>Wild Pokémon</h1>

    <div class="pokemonContainer">
        <img src="/assets/images/projectLogo.png"  class="pokemonImg" alt="" />
        <p class="pokemonName">pokémon 1</p>
        <p class="pokemonCaught">Caught</p>
        <button class="pokemonCatch">catch</button>
    </div>

    <div class="pokemonContainer">
        <img src="/assets/images/projectLogo.png"  class="pokemonImg" alt="" />
        <p class="pokemonName">pokémon 2</p>
        <p class="pokemonCaught">Caught</p>
        <button class="pokemonCatch">catch</button>
    </div>

</div>